/* Your styles here */
html{
    text-align: center;
}
nav {
    
    background-color: black;
}
nav img{
    padding: 15px;
    width: 120px;
    margin-inline: 35%;
    margin: 0px;
}
header div img{
    background-size: cover;
    height: 300px;    
}
header div{
    
    background-position: 100%; 
    
     height: 300px;
    background-size: cover; 
    
    /* margin-top: -160px; */
        
}
header h1{
    margin-top: -200px;
    color: rgb(38, 133, 133);
    font-family: 'Montserrat', sans-serif;
    
}
header button{
    color: black;
    background-color: orange;
}
.immagine-computer {
    
    border-radius: 50%;
    width: 50%;
    background-size: cover;
    margin-top: 20px;

    font-family: 'Open Sans', sans-serif;
}
h4{
    color: rgb(91, 159, 159);
    margin-top: 40px;
    margin-bottom: 17px;
}
button{
    margin-top: 50px;
}
/* .primo-testo{
    margin-top: 50px;
} */
.blocco{
    margin-top: 20px;
    box-sizing: border-box;
    
    height: 250px;
    
    padding: 16px;
    margin-inline: auto;
    background-color: red;
    color: aliceblue;
    font-size: 20px;
}
.blocco h2{
    margin-top: 16px;
    margin-bottom: 30px;
}
.blocco h3{
    margin-top: 40px;
}
.il-tuo-pc{
    margin-top: 25px;
    width: 400px;
    height: 428px;
    margin-inline: auto;
    border: 1px solid black;        
}
.impara-ora{
    margin-top: 25px;
    width: 400px;
    height: 428px;
    margin-inline: auto;
    border: 1px solid black;  
}
.lavora-subito{
    margin-top: 25px;
    width: 400px;
    height: 428px;
    margin-inline: auto;
    border: 1px solid black;
}
footer{
    background-color: rgb(5, 154, 165);
    width: 100%;
    height: 250px;
    margin-top: 80px;
}
footer h2{
    margin-top: 52px;
    display: inline-block;
    font-size: 30px;
    color: white;
}
footer hr{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
footer p{
    margin-top: 7px;
}
.testo h5{
    color: rgb(91, 159, 159);
    margin-top: 15px;
}
.testo p{
    margin-top: 20px;
}
.testo img{
    background-size: cover;
    width: 100%;
}